@keyframes typing {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
}

#copy {
    position: relative;
    width: fit-content;
    margin: 20px;
}

.type::before {
    content: "|";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #f8f9fa;
    transition: 1s;
    animation: typing 3s ease-in infinite;
    z-index: 1;
}
